.footer {
  flex: 0 0 84px;
  width: 100%; 
  display: flex;
}
.footer-list {
  text-align: left;
  padding-top: 30px; 
  width: 100%; 
}
.footer-list div {
  display : inline;
  justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color : #FF4A00;
   
}
 