.main-section{
    padding : 7px 140px 0;
}
.mychits-title1 {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFA17B;
    margin-bottom: 10px;
}
.container-div1{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.main{
    height: auto;
    margin-top: 66px;
    padding-bottom: 20px;
}