 
.user-details-div {
  height: 90px;
  margin-top: 30px;
  padding: 24px 44px;
}
.user-header {
  display: row;
  width: 180px;
  padding: 8px;
}
.bidding-detail-row {
  border: 1.5px solid #1b9cfc;
  margin-top: 10px;
  padding: 44px;
}
.bidding-first-div {
  width: 160px;
  line-height: 30px;
}
.bidding-second-div {
  width: 300px;
  line-height: 30px;
}
.bidding-history-row {
  border: 1.5px solid #1b9cfc;
  margin-top: 10px;
  padding: 24px 0 30px 44px;
  height: 400px;
}
.red-circle {
  width: 16px;
  height: 16px;
  background: #ff4757;
  border-radius: 25px;
  top: 10px;
  left: 15px;
}
.bid-indicator{
    height:250px;
    width:8px;
    border-radius:5px;
    top: 20px;
    left: 18.5px;
    z-index: -1;
}
.green-circle {
    width: 16px;
    height: 16px;
    background: #2ED573;
    border-radius: 25px;
    bottom: 28px;
    left: 15px;
}
.min-bid {
    bottom: 10px;
    /* left: 15px; */
}
.blue-bid-indicator {
    width: 16px;
    height: 16px;
    border-radius: 25px;
    /* bottom: 0px; */
    margin-left: 14px;
    margin-top: 29px;
}
.user-indicator {
    height: 26px;
    /* margin-left: 23px; */
    width : 60px;
    border-radius: 4px;
    margin-top: 21px;
    padding-top: 7px;
    /* left: 400px; */
}
.bidding-row{
  width : 100%;
  display: flex;
  /* bottom: 50px; */
  height: 58px;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  margin-left: 20px;
  margin-top:29px;
  border-right: 13px solid #1B9CFC; 
  z-index: -1;
}
.details-div {
  /* height: 58px; */
  padding: 10px 18px;
  border-radius: 4px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  line-height: 22px;
  margin-left: 20px;
}
.btn-row {
   height: 100px;
}
.recheck{
  margin-left: 10px;
}
.bidding-input-div{
  border:1.5px solid #1B9BFB;
  padding:5px 10px 30px;
}

/* *****************timer css */
.auctionTimer {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border : 5px solid #1B9CFC;
  background: rgba(27, 156, 252, 0.1);
}

/* timer */
.base-timer {
  position: relative;
  width: 100px; 
}

.base-timer__circle {
  fill: none;
  color: rgb(24, 194, 241);
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: rgb(250, 249, 249);
}
.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(270deg); 
  /* transform:rotate(-90 25 25); */
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
  transform-origin:center;
  transition: 1s linear all;
  stroke: currentColor;
}
.base-timer__label {
  position: absolute;
  top: 42px;
  left: 35px;
  display: flex;
  color :#1B9CFC;
  font-size: 16px;
  font-weight: bold;
}