.orange-txt {
    color : #FEA47F
}
.orange-bg {
    background-color: #FEA47F;
}
.white-bg {
    background-color: white;
}
.white-txt { 
    color : white;
}
.dark-orange-txt {
    color :#FF4A00
}
.lght-blc-txt {
    color : #5A5A5A;
}
.green-txt{
    color :#2ED573;
}
.blue-bg {
    background-color: #1B9CFC;
}
.blue-txt{
    color :#1B9CFC;
}