.float-right {
    float : right
}
.left-txt{
    text-align: left;
}
.text-center {
    text-align: center;
}
/* margin */
.mx-100{
    margin :50px 100px 50px 100px;
}
.mx-auto {
    margin : 0 auto;
}
.mx-11{
    margin : 1.1em 0;
}
.m-40{
    margin : 40px
}
.mt-13 {
    margin-top: 13px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-90{
    margin-top : 90px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-n10{
    margin-top: -10px;
}
.mt-n1{
    margin-top: -1rem;
}
.my-15{
    margin : 15px 0 15px 0
}
.ml-40{
    margin-left: 40px;
}
.ml-20{
    margin-left: 20px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
/* padding */
.p-18{
    padding : 18px
}
.p-40{
    padding : 40px
}
.p-24{
    padding : 24px
}
.pr-60{
    padding-right : 60px;
}
.pointer-cursor {
    cursor: pointer;
}
.error { 
    color : red;
    font-size: 14px;
}