.container-main {
    padding : 60px 136px 0;
    overflow-x: hidden;
}
.container-div{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
/* user details info css */
.user-image {
    border-radius: 50%;
    width: 137px;
    height: 120px;  
    display: flex;  
    justify-content: center;
}
.user-image p{
    display: flex; 
    align-items: center;   
    width: 64px;  
}
.user-details {
    display: flex; 
    flex-direction: column; 
    text-align: left;
    justify-content: center;
    align-items: left;   
    margin-left : 25px;
}
.name-email-div{
    width : 79%
}
.user-details .user-email {
    margin-top: 15px;
}
.mychits-title {
    margin : 30px 136px 0;
    border-bottom: 2px solid #FFA17B;
}
.chits-empty-plan-div {
    height: 400px; 
    display: flex;  
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.empty-chit-plan {
    display: flex;   
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    width: 350px;  
}
.empty-chit-plan p {
    margin-bottom: 20px;
}
.table-div{
    margin : 10px 136px 0
}
